<!DOCTYPE html>
<html>
  <head>
    <title>Debug</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'layout' %>
    <%= stylesheet_pack_tag 'layout' %>
  </head>

  <body>

    <%= content_tag(:div, nil, 
      id: "auth",
      data: {
        current_user: current_user
        }.to_json)
    %>
    <%= content_tag(:div, nil, id: "toolbar") %>

    <%= content_tag(:div, nil, 
      id: "flash",
      data: { notice: flash[:notice], alert: flash[:alert] }.to_json ) 
    %>

    <%= yield %>
  </body>
</html>
